<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.mapper.DidaUserMapper">

    <!--  不要写 *  后面会修改  -->
    <select id="getUserByPhoneOrEmail" resultType="common.entity.DidaUser">
        SELECT * FROM tbl_dida_user WHERE (user_phone = #{username} or user_email = #{username}) and is_deleted=0;
    </select>

    <!--  不要写 *  后面会修改  -->
    <select id="getUserByUnionIdWhenLogin" resultType="common.entity.DidaUser">
        SELECT * FROM tbl_dida_user WHERE user_union_id=#{userUnionId} and is_deleted=0;
    </select>
</mapper>
